<%if @itens_demandados %>
<div id="products" class="row list-group">
  <%  @itens_demandados.each do |item| %>
    <%= form_tag("/remover_item_demandado_proposta") do %>
        <div class="item  list-group-item">
            <div class="thumbnail">
              <% if item.img_link %>
                <%= image_tag(item.img_link, :size => "220x150") %>
              <% else %>
                <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="">
              <%end%>
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                        <%= item.nome %></h4>
                    <p class="group inner list-group-item-text">
                        <%= item.descricao %></p>
                    <p class="group inner list-group-item-text">Categoria:
                        <%= item.categoria.nome%>
                    </p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead">
                                <%=session[:quantidade_demandados]["#{item.id}"]%>/<%= item.quantidade %></p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <%= submit_tag 'Excluir', :class=>"btn btn-danger" %>
                        </div>
                    </div>
                    <%= hidden_field_tag 'id_item', item.id %>
                    <%end%>
                    <div class="row">
                      <%= form_tag("/alterar_quantidade_item_demandado_proposta", :class=>"group inner list-group-item-text") do %>
                          <%= hidden_field_tag 'id_item', item.id %>
                          <%= text_field_tag :quantidade, session[:quantidade_demandados]["#{item.id}"] %><br>
                          <%= submit_tag 'Alterar Quantidade' %></li>
                      <% end %>
                    </div>
                </div>
            </div>
        </div>
  <% end %>
</div>
<% end %>
