<%if @itens_dono %>
  <% @itens_dono.each do |item| %>
    <%= form_tag("/adicionar_item_demandado_proposta") do %>
      <ul>
        <li><%= item.nome %></li>
        <li><%= item.descricao %></li>
        <li><%= item.quantidade %></li>
        <li><%= item.categoria.nome %></li>
        <% if item.img_link %>
          <li><%= image_tag(item.img_link, :size => "260x180") %></li>
        <% end %>
      </ul>
      <ul>
        <%= hidden_field_tag 'id_item', item.id %>
        <li><%= submit_tag 'Adicionar a Proposta' %></li>
      </ul>
    <% end %>
  <% end %>
<% end %>
