<h1>Nova Proposta</h1>
<%= @id_item %>
<p>
  <h2>Realizar proposta para:</h2>
  <%= render 'itens_demandados' %>
</p>
<div>
  <h2>Itens do usuário que receberá a proposta</h2>
  <%= render 'itens_dono' %>
</div>
<div id="itens_usuario">
  <div>
    <br>
    <h2>Itens ofertados</h2>
    <%= render 'itens_ofertados' %>
  </div>
  <br>
  <br>
  <div>
      <%= form_tag("/propostas") do %>
        <%= label_tag :lbl_texto, "Texto adicional:" %><br>
        <%= text_area_tag :texto %><br>
        <%= submit_tag 'Concluir Proposta'%>
      <% end %>
  </div>
  <div>
    <br>
    <h2>Itens a serem selecionados</h2>
    <%= render 'itens_usuario' %>
  </div>
</div>
