<p>
  <strong>Nome:</strong>
  <%= @item.nome %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @item.descricao %>
</p>

<p>
  <strong>Categoria:</strong>
  <%= @item.categoria.nome %>
</p>
<p>
  <strong>Dono:</strong>
  <%= @item.pessoa.nome %>
</p>
<p>
  <%= form_tag("/nova_proposta") do %>
    <%= hidden_field_tag :id_dono, @item.pessoa.id %>
    <%= hidden_field_tag :id_item, @item.id %>
    <%= submit_tag "Fazer proposta" %>
  <% end %>
</p>
