<div class="collapse navbar-collapse" id="navbar">
  <ul class="nav navbar-nav navbar-right">
   <li class="nav-item">
     <%= link_to edit_usuario_path, class:"nav-link" do %>
       <span class="glyphicon glyphicon-cog"></span> Configurações
     <% end %>
   </li>
   <li class="nav-item">
   <%= link_to logout_path, class:"nav-link" do%>
     <span class="glyphicon glyphicon-log-out"></span> Logout
   <% end %>
   </li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <%= form_tag("/pesquisar",class: "navbar-form navbar-right",role: "search") do %>
       <%= text_field_tag 'info_pesquisa', nil, placeholder: 'Busca Item',class:"form-control mr-sm-2" %>
       <%= button_tag "Busca",class:"btn btn-default my-2 my-sm-0" %>
    <% end %>
  </ul>
</div>
