<ul>
  <li><%= @pessoa.nome %></li>
  <li><%= @pessoa.email %></li>
  <li><%= @pessoa.cidade %></li>
  <li><%= @pessoa.estado %></li>
  <li><%= @pessoa.pais %></li>

  <li><%= link_to 'Editar', edit_usuario_path %></li>
</ul>
